<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>nownews.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DEF9FF671D7BCFC50037CF0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEF9FF7E1D7BCFC60037CF0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEF9FF891D7BCFC60037CF0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
